@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.appTitle{
  font-family: 'Dancing Script', cursive;
  a{
    text-decoration: none;
    color: white;
  }
  margin: 100px 0;
  .appName{
    color: white;
    text-decoration: none;
    font-size: 4em;
  }
}

.Form{
  margin-bottom: 100px;
  color: black;
  .Input{
    padding: 15px 20px;
    font-size: 1em;
    width: 40vw;
    border-radius: 5px;
    border: 0;
  }

  .Button{
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    background-color: black;
    color: white;
  }
}

.results-container{
    display: flex;
    justify-content: center;
    .qualHeader{
      background-color: white;
      color: black;
      padding: 5px 10px;
      border-radius: 2px;
    }
    .img-container{
      width: 300px;
      margin: 20px 30px;
      height: 175px;
      object-fit: cover;
    }
}

@media (max-width: 1024px){
  .Form{
      margin-top: 30px;
      margin-bottom: 10px;
  }

  .results-container{
    flex-direction: column;
    margin: 50px 0 0;
  }
}
